<footer>
  <center>
  <div class="footcon">
      <div class="footitems special">Journal Express © 2023</div>
      <a href="/">HOME</a>
      <a href="/contact">CONTACT US</a>
      <a href="/blog">MY-JOURNALS</a>
      <a href="/compose">COMPOSE</a>
     
  </div>
</center>
</footer>
</body>
</html>