<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Daily Journal</title>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> -->
<link rel="icon" href="/images/online-journal.png" type="image/x-icon">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Belanosima&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/css/styles.css">

  <body>


  <nav>

    <div class="navitems">

      <!-- Link items -->
      <div class="logo">
        <a style="text-decoration: none;" class="logo-a"  href="/"><h1 class="logo-head">My<span class = "logo-span">Story</span></h1></a>
      </div>
        <div class="navlinkcontain">
          <a href="/" >HOME</a>
          <a href="/blog">MY-JOURNALS</a>
          <a href="/contact">CONTACT US</a>
          <a href="/compose">COMPOSE</a>

        </div>
</nav>

  <body>
    
