<div class="wrapper">
    <%- include('partials/header') %>

    <div class="cont-content">
        <div class="cont-main-1">
            <h1>Contact Us</h1>
                <p class="cont-main-1-p"><%= contact %></p>
        </div>
        <div class="cont-main-2">
            <div class="cont-main-A" >
                <img class="cont-main-img" src="https://cdn.glitch.global/a332e03c-f6a3-455b-81e9-d14295f66829/main-1.svg?v=1687923589503" alt="" loading = "lazy" >
                <h4></h4> 
            </div>
            <div class="cont-main-A" >
                <img class="cont-main-img" src="https://cdn.glitch.global/a332e03c-f6a3-455b-81e9-d14295f66829/gmail.png?v=1687923584461" alt="" loading = "lazy">
                <h4></h4>
            </div>
            <div class="cont-main-A" >
               <img class="cont-main-img" src="https://cdn.glitch.global/a332e03c-f6a3-455b-81e9-d14295f66829/linkedin.png?v=1687923588741" alt="" loading = "lazy">
               <h4></h4> 
            </div>
            <div class="cont-main-A" >
                <img class="cont-main-img" src="https://cdn.glitch.global/a332e03c-f6a3-455b-81e9-d14295f66829/github.png?v=1687923583669" alt="" loading = "lazy">
                <h4></h4>   
            
            </div>
            <div class="cont-main-A" >
                <img class="cont-main-img" src="https://cdn.glitch.global/a332e03c-f6a3-455b-81e9-d14295f66829/instagram.png?v=1687923586013" alt="" loading = "lazy">
                <h4></h4>   
            
            </div>
            <div class="cont-main-A" >
                <img class="cont-main-img" src="https://cdn.glitch.global/a332e03c-f6a3-455b-81e9-d14295f66829/discord.png?v=1687923594027" alt="" loading = "lazy">
                <h4></h4>   
            
            </div>
        </div>
    </div>
    
       
</div>
