<div class="wrapper">
    <!-- Navbar -->
    
    <%- include('partials/header.ejs') %>
      
          <!-- HeroSection0 -->
  
        <div class="heroSection">
        
            <div class="hero-con">
                <div class="hero-con1">
                    <h1 class="hero-head">The Ultimate Daily <span style="color: blue;">journal</span></h1>
                    <p class="hero-p">Welcome to our online journal, a digital space for self-exploration, connection, and growth. Our journal is a platform for individuals who seek to delve deeper into their thoughts, feelings, and experiences. 
                        
                        
                                                
                        </p>
                       <a href="/compose"><button class="glow-on-hover" type="button">Compose</button></a>
                </div>
                <div class="hero-con2">
                    <img src="../images/home.png" alt="Image"  width="600rem"  height="525rem" ">
                </div>
             </div>
        </div>

      <!-- CardSection -->

      <div class="card">
        <h2 class="card-head">An app where you can express yourself!</h2>
        <div class="card-body">
            <div class="box">
                <img class="card-img" src="/images/card-1.png"  alt="">
                <h3>Clear your tangled mind</h3>
                <p>Access hundreds of brushes, shapes and fonts to scribble your idea.
                    Our guided prompts and free-form writing allow you to declutter your thoughts, gain clarity, and find inner peace.</p>
             </div>
             <div class="box">
                <img class="card-img" src="/images/card-2.png"  alt="">
                <h3>Write down your thoughts</h3>
                <p>Note down, shape & share your ideas with the world's best loved digital paper.
                    Our journal provides a safe space to capture your innermost thoughts, encouraging self-reflection and personal growth.</p>
             </div>
             <div class="box">
                <img class="card-img" src="/images/card-3.png" alt="">
                <h3>The Choice is yours</h3>
                <p>Customize your paper to create gorgeous page that you want.
                    Create a journal that's truly yours, enhancing your writing experience and making it a cherished keepsake.</p>
                
             </div>
        </div>
      </div>

    <!-- AboutSection -->
    <div class="about" id="about">
        <img class="about-img" src="images/about.png" alt="">
        
        <div class= "about-1">
            <h1>About</h1>
            <p class="about-p">Welcome to our daily journal! We're a passionate team dedicated to helping you capture your thoughts, reflect on your journey, and find inspiration every day.</p>
        </div>
    </div>

    

<!-- Footer -->
<%- include('partials/footer') %>
