<div class="wrapper">
    <%- include('partials/header') %>

    <div class="post-main">
        <!-- <img src="/images/LandingPage.png" alt="" class ="post-img" > -->
       
                <div class="final-post" >
                    <div class="finalPost-head"><h1><%= openPost %></h1>
                    </div>
                    
                        <p class="openContent"><%= openContent %></p>
                
                    
                </div>      
        
    </div>

    <%- include('partials/footer') %>
    
</div>
